html,
body{
margin: auto;
height: auto;
}

.wrapperContainer-header{
    background-color:rgba(13, 6, 21, 1);
    width: auto;
    height: auto;
}

.wrapperContainer-banner{
    background-color: black;
}

.wrapperContainer-footer{
    background-color: black;
    width: auto;
}

.menuzao{
    display: flex;
    background-image: url(imagens/gradiente.png);
    background-size: cover;
    width: auto;
    height:auto;
    margin-top: 0;
}

.header_nav{
    max-width: 15800px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_buttons ul{
    text-align: left;
    display: flex;
    margin-right: 500px;
    gap: 30px;
}
.nav_buttons li{
    list-style-type: none;
    background-color: rgb(31, 153, 235);
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.nav_buttons ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
}
.nav_buttons ul li a:hover{
    color: gray;
}
.nav_content ul{
    text-align: right;
    display: flex;
}
.nav_content ul li a{
    text-align: center;
}
.nav_content li{
    list-style-type: none;
    display: inline-flex;
    margin: 10px;
    padding: 10px;
}
.nav_content ul li a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav_content ul li a:hover{
    color: gray;
}
.banner{
    background-image: url(imagens/Banner.png);
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    background-size: cover;
    background-position: center;
}
.menu-lateral ul li{
    list-style: none;
    margin-left: 80px;
    padding: 0;
}
p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.menu-lateral{
    margin-top: 30px;
    display: flex;
    width: 600px;
    
}

h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 170px;
    font-size:large;
    margin-top: 50px;
}
.menu-games{
    margin-left: 500px;
    width: 720px;
    height:499px;
    margin-top: 20px;
}
.menu-list{
    display: flex;
    gap: 20px;
    width: auto;
}
.baixar{
    margin-left: 25px;
}
.fav{
    margin-left: 25px;
    margin-top: 15px;
}
.gift{
    margin-left: 31px;
    margin-top: 15px;
}
.r6 p{
    padding-right: 2px;
    text-align: center;
}
.mans p{
    padding-right: 5px;
    text-align: center;
}
.terraria p{
    padding-left: 30px;
}
.legacy p{
    padding-right: 2px;
}
.text-gift{
    padding-right: 40px;
    text-align: center;
}
.terraria a:hover{
    background-color:aqua ;
}
.r6 a:hover{
    background-color: aqua;
}
.legacy a:hover{
    background-color: aqua;
}
.mans a:hover{
    background-color: aqua;
}
.rodape{
    width: auto;
    height: 80px;
    margin: auto;
    
}

.rodape p{
    text-align: center;
    color: white;
    margin: auto;
    padding-top: 35px;
}
.r6 img{
    width:159px;
    height:241px;
}
.mans img{
    width:159px;
    height:241px;
}
.terraria img{
    width:159px;
    height:241px;
}
.legacy img{
    width:159px;
    height:241px;
}

























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    padding
    display: inline-block;
}